{{ if .Site.Data.about.ceo.enable }}
{{ "<!-- ceo section -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row rounded bg-secondary">
            {{ "<!-- ceo image -->" | safeHTML }}
            <div class="col-lg-5 rounded-left ceo-image" style="background-image: url('{{ .Site.Data.about.ceo.bgImage | absURL }}');"></div>
            <div class="col-lg-7">
                {{ "<!-- ceo content -->" | safeHTML }}
                <div class="p-5">
                   {{ with .Site.Data.about.ceo.title }} <h2 class="section-title section-title-border-half-white text-white">{{ . | safeHTML }}</h2> {{ end }}
                   {{ with .Site.Data.about.ceo.content }} <p class="text-white">{{ . }}</p> {{ end }}
                    <img src="{{ .Site.Data.about.ceo.signature | absURL }}" alt="ceo-signature">
                   {{ with .Site.Data.about.ceo.name }} <h5 class="text-white">{{ . }}</h5> {{ end }}
                   {{ with .Site.Data.about.ceo.designation }} <h6 class="text-white">{{ . }}</h6> {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /ceo section -->" | safeHTML }}
{{ end }}