/*Custom CSS!*/

/* -- NAVIGATION -- */
.btn-primary {
  background: #e8830c;
  color: #fff;
}

.btn-primary:active {
  background: #e8830c !important;
}

.btn-primary:hover {
  background: #666666;
}