.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  @include media-breakpoint-up(sm) {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  h1 {
    color: $primary;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    margin-top: 100px;
    padding-bottom: 2rem;
    width: 70%;
    @include media-breakpoint-up(xs) {
      width: 100%;
      margin-top: 0;
    }
    @include media-breakpoint-up(sm) {
      width: 100%;
      margin-top: 0;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
      width: 80%;
      margin-top: 50px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      width: 70%;
      margin-top: 100px;
    }
  }
  p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    color: $secondary;
    @include media-breakpoint-up(xs) {
      width: 100%;
    }
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 60%;
    }
  }
}
.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
