<div class="sub-footer-strip">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sub-footer">
                <ul>
                  <li><a href="{{ .Site.BaseURL }}/privacy">Privacy policy</a></li>
                </ul>
                <ul>
                  <li>Nighitngale HQ Ltd</li>
                  <li><a href="https://beta.companieshouse.gov.uk/company/11725529">Registered in England and Wales: 11725529</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>